{% extends "encyclopedia/layout.html" %}

{% block title %}
  New entry
{% endblock %}

{% block body %}
  {% if existing %}
  <div class="alert alert-danger" role="alert">
    This entry already exists. If you want to review or edit it, <a href="/wiki/{{ entry }}" class = "alert-link">click here</a>
  </div>
  <div class="alert alert-danger" role="alert">
    Or you can change the entry name down here. It's up to you.
  </div>
  {% else %}
  <h1>Insert Page</h1>
  <br>
  {% endif %}
  <br>
  <div class="form-group">
    <form action="{% url 'newEntry' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit">
    </form>
  </div>
{% endblock %}
